<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>DBS | Risk Assessment</title>
	<meta charset="UTF-8">
	<meta name="description" content="loans HTML Template">
	<meta name="keywords" content="loans, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<a href="index.html" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>
		<nav class="header-nav">
			<ul class="main-menu">
				<li><a href="index.html" >Home</a></li>
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="news.html">News</a></li>
			</ul>
			<div class="header-right">
				<a href="#" class="hr-btn"><i class="flaticon-029-telephone-1"></i>Contact us. </a>
				<div class="hr-btn hr-btn-2">1800 111 1111</div>
			</div>
		</nav>
	</header>
	<!-- Header Section end -->

	<!-- Page top Section end -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg/2.jpg">
		<div class="container">
			<h2>Risk Assessment Calculator</h2>
			<nav class="site-breadcrumb">
				<a class="sb-item" href="#">Home</a>
				<span class="sb-item active">Questionaire</span>
			</nav>
		</div>
	</section>
	<!-- Page top Section end -->

	
	<!-- Spending calculator Section  -->
	<section class="loans-calculator-section spad">
		<div class="container">
			<div class="text-center text-white mb-5 pb-3">
				<h2>Q1: How much do you usually spend in a month?</h2>
			</div>
			<div class="loans-calculator">
				<div id="lc-dec" class="lc-control-btn">-</div>
				<div id="lc-inc" class="lc-control-btn ici">+</div>
				<div class="slider-input-warp">
					<div id="slider-range-max" class="slider">
						<div class="ui-slider-handle"><span id="loan-value">$100</span></div>
					</div>
				</div>
				<div class="calculator-scale">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="lone-values">
					<div class="lone-value">$100</div>
					<div class="lone-value lv-step">$5000</div>
				</div>
				<div class="ls-result"><span id = "lone-emi2"> Low Risk</span></div>
			</div>
		</div>
	</section>
	<!-- Spending calculator Section end -->
    
   
	<!-- Services Section -->
	<section class="services-section">
		<div class="container">
			<div class="text-center mb-5 pb-3">
				<h2>Which investments may suit you</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item">
						<img src="img/loans/1.jpg" alt="">
						<h4>Low Risk Appetite</h4>
						<p>Supplementary Retirement Scheme, Singapore Savings Bonds, DBS Invest Saver </p>
						<a href="#" class="readmore">Find out more now <img src="img/arrow.png" alt=""></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<img src="img/loans/2.jpg" alt="">
						<h4>Medium Risk Appetite</h4>
						<p> Unit Trusts, Singapore Savings Bonds, Exchange Traded Funds</p>
						<a href="#" class="readmore">Find out more now <img src="img/arrow.png" alt=""></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<img src="img/loans/3.jpg" alt="">
						<h4>High Risk Appetite</h4>
						<p> Equities, Exchange Traded Funds, Foreign Currencies</p>
						<a href="#" class="readmore">Find out more now <img src="img/arrow.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services Section end -->

	<!-- Footer Section -->
	<footer class="footer-section">
		<div class="container">
			<a href="index.html" class="footer-logo">
				<img src="img/dbs.png" alt="">
			</a>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>What we do</h2>
						<ul>
							<li><a href="#">Personal banking</a></li>
							<li><a href="#">Commercial banking</a></li>
							<li><a href="#">Loans</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>About us</h2>
						<ul>
							<li><a href="#">Our story</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>Legal</h2>
						<ul>
							<li><a href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>Site Info</h2>
						<ul>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<p>People are at the heart of everything we do at DBS, which is why we dedicate ourselves to understanding what you need, and more. Whether it’s helping you with your investments or turning your business ideas into reality, we are committed to be the bank that you can trust and partner through life.</p>
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
		</div>
	</footer>
	<!-- Footer Section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>
