<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>DBS</title>
	<meta charset="UTF-8">
	<meta name="description" content="loans HTML Template">
	<meta name="keywords" content="loans, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section">
		<a href="index.html" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>
		<nav class="header-nav">
			<ul class="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="news.html" class="active">News</a></li>
			</ul>
			<div class="header-right">
				<a href="contact.html" class="hr-btn"><i class="flaticon-029-telephone-1"></i>Contact us. </a>
				<div class="hr-btn hr-btn-2">1800 111 1111</div>
			</div>
		</nav>
	</header>
	<!-- Header Section end -->

	<!-- Page top Section end -->
	<section class="page-top-section set-bg" data-setbg="img/page-top-bg/3.jpg">
		<div class="container">
			<h2>News</h2>
			<nav class="site-breadcrumb">
				<a class="sb-item" href="#">Home</a>
				<span class="sb-item active">News</span>
			</nav>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Blog Section end -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-post">
						<img src="img/news/1.jpg" alt="">
						<div class="blog-date">JAN 6, 2020</div>
						<h2 class="blog-title">50 Tips in Personal Finance</h2>
						<div class="blog-metas">
							<div class="blog-meta">By Zachary Lau </div>
							<div class="blog-meta">In Personal Financial Planning</div>
							<div class="blog-meta"> 13023 views</div>      
						</div>
						<p>1. Budget, budget and budget! Pick out a positive phrase that acts like a mini rule of thumb for how you spend. For example, ask yourself, “Is this [fill in purchase here] better than Bali next year?” or “I only charge items that are $30 or more.” 2. Pay off Smaller Loans first! If you have a mountain of debt, studies show paying off the little debts can give you the confidence to tackle the larger ones. You know, like paying off a modest balance on a department store card before getting to the card with the bigger balance. Of course, we generally recommend chipping away at the card with the highest interest rate, but sometimes psyching yourself up is worth it.</p>
						<a href="#" class="readmore">Read More <img src="img/arrow.png" alt=""></a>
					</div>
					<div class="blog-post">
						<img src="img/news/2.jpg" alt="">
						<div class="blog-date">Dec 27, 2019</div>
						<h2 class="blog-title">Learn about your risk appetite</h2>
						<div class="blog-metas">
							<div class="blog-meta">By Wilson Chan </div>
							<div class="blog-meta">In Personal Financial Planning</div>
							<div class="blog-meta"> 60123 views</div>      
						</div>
						<p>Risk means different things to different people. Most investors will agree that losses of a given magnitude produce a pain more acute than the satisfaction produced by gains of a similar magnitude. This is often the reason why investors feel overconfident and then expose themselves to the recent best-performing asset class or manager (probably at the wrong time) and remain leery of the worst-performing asset class or manager. Some investors are concerned about relative risk (underperforming a benchmark or target) and others might be concerned about absolute risk (losing money). Therefore, some investors might be worried about their real drawdown (maximum loss below inflation), others might want to minimise their portfolio’s shortfall to a benchmark and others might want to reduce their value at risk. Clearly, the definition of risk is extremely important and each and every investor should be comfortable with their risk preference.</p>
						<a href="#" class="readmore">Read More <img src="img/arrow.png" alt=""></a>
					</div>
					<div class="blog-post">
						<img src="img/news/3.jpg" alt="">
						<div class="blog-date">Dec 17, 2019</div>
						<h2 class="blog-title">10 ideas to spend your holiday </h2>
						<div class="blog-metas">
							<div class="blog-meta">By Lian Zhi Wei </div>
							<div class="blog-meta">In Personal Financial Planning</div>
							<div class="blog-meta"> 2313243 views</div>      
						</div>
						<p>Financial experts advise you think of a budget as your financial GPS. Drawing up a soup-to-nuts budget helps safeguard cash, without quenching the holiday spirit: “It makes us a cheerful giver because we’re not spending money that should go to another expense,” Williams says. According to an October 2019 survey by the National Retail Federation, respondents said they expected to spend $1,048 for holiday items (including gifts, decor, greeting cards, etc.) this year. That is 4 percent more than the $1,007 they spent last year’s holiday season.</p>
						<a href="#" class="readmore">Read More <img src="img/arrow.png" alt=""></a>
					</div>
					<div class="site-pagination">
						<a href="#" class="active">01.</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 sidebar">
					<div class="sb-widget">
						<form class="search-form">
							<input type="text" placeholder="">
							<button><img src="img/search-icon.png" alt=""></button>
						</form>
					</div>
					<div class="sb-widget">
						<h2 class="sb-title">Categories</h2>
						<ul>
							<li><a href="#">Personal Financial Planning</a></li>
							<li><a href="#">Credit Cards</a></li>
							<li><a href="#">Quick Loans</a></li>
							<li><a href="#">Uncategorized</a></li>
						</ul>
					</div>
					<div class="sb-widget">
						<h2 class="sb-title">Categories</h2>
						<ul>
							<li><a href="#">January 2020</a></li>
							<li><a href="#">December 2019</a></li>
                            <li><a href="#">November 2019</a></li>
                            <li><a href="#">October 2019</a></li>
							<li><a href="#">September 2019</a></li>
						</ul>
					</div>
					<div class="sb-widget">
						<h2 class="sb-title">Categories</h2>
						<div class="tags">
							<a href="#">tips & tricks</a>
							<a href="#">quick loans</a>
							<a href="#">Financial Planning tips</a>
							<a href="#">car loan</a>
							<a href="#">wedding loan</a>
							<a href="#">holiday loans</a>
							<a href="#">credit & loans</a>
						</div>
					</div>
					<div class="sb-widget">
						<a href="#" class="add">
							<img src="img/add.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section end -->

	<!-- Score Section end -->
	<section class="score-section text-white set-bg" data-setbg="img/score-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-8">
					<h2>Calculate my Score</h2>
					<h4>Check your credit reports as often as you want, it won't affect your scores.</h4>
					<a href="loans.html" class="site-btn sb-big">show my score</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Score Section end -->

	<!-- Footer Section -->
	<footer class="footer-section">
		<div class="container">
			<a href="index.html" class="footer-logo">
				<img src="img/logo.png" alt="">
			</a>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>What we do</h2>
						<ul>
							<li><a href="#">Personal banking</a></li>
							<li><a href="#">Commercial banking</a></li>
							<li><a href="#">Loans</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>About us</h2>
						<ul>
							<li><a href="#">Our story</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>Legal</h2>
						<ul>
							<li><a href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h2>Site Info</h2>
						<ul>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<p>People are at the heart of everything we do at DBS, which is why we dedicate ourselves to understanding what you need, and more. Whether it’s helping you with your investments or turning your business ideas into reality, we are committed to be the bank that you can trust and partner through life.</p>
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
		</div>
	</footer>
	<!-- Footer Section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/main.js"></script>

	

	</body>
</html>